% -*- mode: erlang -*-
{deps, [
        {lager,         ".*",           {git,   "gitMobile@192.168.1.149:lager.git"}},
        {cowboy,        ".*",           {git,   "gitMobile@192.168.1.149:cowboy.git"}},
        {protobuffs,    ".*",           {git,   "gitMobile@192.168.1.149:erlang_protobuffs.git",    {branch, "develop"}}},
        {mochiweb,      ".*",           {git,   "gitMobile@192.168.1.149:mochiweb.git",             {branch,"master"}}},
        {hstdlib,       ".*",           {git,   "gitMobile@192.168.1.149:hstdlib.git",              {branch, "master"}}},
        {ibrowse,       ".*",           {git, "gitMobile@192.168.1.149:ibrowse.git",                {tag, "v4.0.2"}}},
        {leshu_db,      ".*",           {git, "gitMobile@192.168.1.149:leshu_db.git"}},
        {getopt,        ".*",           {git, "gitMobile@192.168.1.149:getopt_new.git",             {branch, "master"}}},
        {recon,         ".*",           {git, "gitMobile@192.168.1.149:recon.git"}},
        {gen_smtp,      ".*",           {git, "gitMobile@192.168.1.149:gen_smtp.git"}},
        {folsom,        ".*",           {git,"gitMobile@192.168.1.149:folsom.git",{branch,"master"}}},
        {dynarec,       ".*",           {git,"gitMobile@192.168.1.149:dynarec.git"}},
        {jiffy,         ".*",           {git, "gitMobile@192.168.1.149:jiffy.git"}},
        {rfc4627,         ".*",           {git, "gitMobile@192.168.1.149:rfc4627.git",{branch,"master"}}},
        {jpush,         ".*",           {git, "gitMobile@192.168.1.149:jpush.git",{branch,"master"}}},
        {gproc, ".*", {git, "gitMobile@192.168.1.149:gproc.git"}},
        {g17, ".*", {git, "gitMobile@192.168.1.149:g17.git"}},
        {reloader, ".*", {git, "https://github.com/roowe/reloader", "master"}},
		
	{gs_cron, ".*",
           {git, "gitMobile@192.168.1.149:gs_cron.git"}}
       ]}.
%%{lib_dirs, ["/home/liu/server_p02/deps/p02_center"]}.
{sub_dirs, ["deps/p02_center"]}.
%{erl_first_files, ["src/mnesia_db/table_version/db_version.erl"]}.
%{post_hooks, [{compile, "sh/generate_all_record"}]}.
%% gpb of the remote git
%%   {gpb, ".*", {git, "git://github.com/tomas-abrahamsson/gpb.git"}}

%% {sub_dirs, ["rel"]}.

{erl_opts,[{parse_transform, lager_transform},
           {lager_truncation_size, 10240},
           {lager_print_records_flag, false}, %%lager的pr不好用
           bin_opt_info,
           no_debug_info,
           fail_on_warning]}.

{eunit_opts,[verbose,{report,{eunit_surefire,[{dir,"."}]}}]}.
%%{cover_enabled, true}.

%% common_test
{ct_extra_params, "-boot start_sasl -setcookie p02_s1 "}.
