
% -*- mode: erlang -*-
[
 {lager, 
  [
   {colored, true},
   {error_logger_hwm, 50}, %%每秒处理error_logger信息
   {async_threshold, 20}, %%信箱到20就变成同步了
   {async_threshold_window, 5}, %%回到15就又变成异步
   {error_logger_redirect, false}, %%把error_logger的消息，转到lager处理
   {log_level, debug}
   %{crash_log, "/tmp/crash.log"},
  ]}
].
