                                                % -*- mode: erlang -*-
[
 %% SASL config
 {sasl, [{sasl_error_logger, false} %% use lager instead
         %% {errlog_type, all},
         %% {error_logger_mf_dir, "/tmp/sasl"},     %% dirs
         %% {error_logger_mf_maxbytes, 10485760}, %% 10M per log file.   
         %% {error_logger_mf_maxfiles, 10}       %% maxinum number of 10
        ]},

 {server, [  
             {game_listener,   [{ip, "192.168.1.233"},{port, 8801}]},
             {can_gmcmd, 1},            %% 是否允许使用gm指令
             {server_start_timestamp, {2013, 06, 06, 10, 00, 00}}, %% 服务器的开服时间
             {db_nodes, ['p02_db_disc_1@192.168.1.124'
                        ]},
             {node_type, disc}, %% disc, ram, remote(remote for only game logic node)
             {is_world_gs, single},
             %%数据生成默认配置
	     {default_db_base, "p02_base"},
	     {generate_dir, "src/data/"},
	     {jobs, 2},
	     {excel_path, "/root/p02_peizhi/"},
	     {insert_db, true},
	     {default_mysql_user, "mroot"},
	     {default_mysql_password, "mroot"},
	     {default_mysql_port, 3306},
	     {default_mysql_host, "192.168.1.149"},
	     {default_mysql_pool_size, 1},
             %%这段是数据生成必须的
	     {server_state, work},
	     {server_sn_db,[{1, 1},    %%表示N服的数据写到M服去
                            {2, 2},
                            {3, 3},
                            {4, 4},
                            {5, 5},
                            {6, 5},
                            {7, 5}
                           ]},
	     {center_node, ['center@192.168.1.122']},
	     {dirty_words_file, "/root/server_p02/config/dirty_words.txt"},
	     {day_start_hour, 0},
	     {boss_double_drop, [{{12, 00}, {13, 00}}, {{18, 00}, {19, 00}}]} %%boss 双倍掉落时间
          ]
 }
].  


