
% -*- mode: erlang -*-
[
 {lager, 
  [
   {colored, true},
   %% these are config by shell
   {handlers, 
    [
     {lager_console_backend, %% config options [Level,{Formatter,FormatterConfig}]
      [debug, {lager_default_formatter, 
              %% The properties pid, file, line, module, function, and node will always exist if the parser transform is used.
              %% 2014-02-13 09:36:22.639 [error] <0.57.0>@lager_try:start:6 Some message
              [date, " ", time, color, " [",severity,"] <",pid, ">@", module,":", function, ":", line, " ", message, "\e[0m\r\n"]
             }]},
     %% warning log
     {lager_file_backend, 
      [
       {file, "logs/warning.log"},
       {level, warning}, 
       {date, "$W0D23"},
       {count, 20} %% 默认每个文件10M
      ]},
     %% debug log
     {lager_file_backend, 
      [
       {file, "logs/debug.log"},
       {level, debug}, 
       {date, "$W0D23"}, 
       {count, 20}
      ]}
    ]},
   {crash_log, "/tmp/crash.log"},
   {error_logger_redirect, true}
  ]}
].
