% -*- mode: erlang -*-
[
 %% SASL config
 {sasl, [{sasl_error_logger, false} %% use lager instead
         %% {errlog_type, all},
         %% {error_logger_mf_dir, "/tmp/sasl"},     %% dirs
         %% {error_logger_mf_maxbytes, 10485760}, %% 10M per log file.   
         %% {error_logger_mf_maxfiles, 10}       %% maxinum number of 10
        ]},

 {server, [  
             {game_listener,   [{ip, "192.168.1.233"},{port, 8801}]},  
             {server_no, "1"},          %% 节点id
             {http_ips, ["127.0.0.1"]}, %% 允许访问http端口的ip段
             {can_gmcmd, 1},            %% 是否允许使用gm指令
             {server_start_timestamp, {2013, 06, 06, 10, 00, 00}}, %% 服务器的开服时间
             {log_level, 6},   %% 日志输出级别类型
             {server_list_url, "http://192.168.1.149/kof_admin/www/html/node_list.php"},
             {default_mysql_user, "root"},
             {default_mysql_password, "a8aRax0XWGBXfnnv"},
             {default_mysql_port, 3306},
             {default_mysql_host, "10.9.9.196"},
             {default_mysql_pool_size, 1},
             {mysql_conf, [{db_log, [
                                     {db, "p02_log"}
                                     %% 使用默认配置，如果有特殊db的话，可以单独配，会覆盖默认配置
                                     %% {host, "127.0.0.1"},
                                     %% {port, 3306},
                                     %% {user, "user"},
                                     %% {password, "password"},
                                     %% {pool_size, 10} %% db_log无须配置，自动计算，配了也没用
                                    ]}
                          ]},
             {db_nodes, ['p02_db_disc_1@10.9.9.69'
                        ]},
	     {server_count,5},
	     {server_state, work},     %%设置成debug时，玩家不给登陆，返回服务器在维护
	     {center_node, 'center@10.9.9.69'},
	     {server_sn_db,[{1, 1},    %%表示N服的数据写到M服去
			     {2, 2},
			     {3, 3},
			     {4, 4},
			     {5, 5} ]},
	     {dirty_words_file, "/data/kof/ebin_p02/dirty_words.txt"},
             {node_type, disc} %% disc, ram, remote(remote for only game logic node)
          ]
 }
].  


