{sys, [
       {lib_dirs, ["../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "server", "1.0.0",
        [
         kernel,
         stdlib,
         sasl,
         mnesia,
         server
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "server"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       %% sys
       {app, ssl,         [{mod_cond, app}]},
       {app, crypto,      [{mod_cond, app}]},
       {app, inets,       [{mod_cond, app}]},
       {app, compiler,    [{mod_cond, app}]},
       {app, mnesia,      [{incl_cond, include}]},
       %% application
       {app, ibrowse,     [{mod_cond, app}, {incl_cond, include}]},
       {app, hstdlib,     [{mod_cond, app}, {incl_cond, derived}]},
       {app, mysql,       [{mod_cond, app}, {incl_cond, include}]},
       {app, leshu_db,    [{mod_cond, app}, {incl_cond, include}]},
       {app, server,      [{mod_cond, app}, {lib_dir, ".."}]}
      ]}.

{target_dir, "server"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/server", "bin/server"},
           {copy, "files/server.cmd", "bin/server.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.

