                                                % -*- mode: erlang -*-
[
 %% SASL config
 {sasl, [{sasl_error_logger, false} %% use lager instead
         %% {errlog_type, all},
         %% {error_logger_mf_dir, "/tmp/sasl"},     %% dirs
         %% {error_logger_mf_maxbytes, 10485760}, %% 10M per log file.   
         %% {error_logger_mf_maxfiles, 10}       %% maxinum number of 10
        ]},

 {server, [  
             {strict_md5, 0},
             {is_world_gs, false},
             {game_listener,   [{ip, "192.168.1.233"},{port, 8802}]},
             {server_no, "1"},          %% 节点id
             {http_ips, ["127.0.0.1"]}, %% 允许访问http端口的ip段
             {can_gmcmd, 1},            %% 是否允许使用gm指令
             {server_start_timestamp, {2013, 06, 06, 10, 00, 00}}, %% 服务器的开服时间
             {server_list_url, "http://192.168.1.149/kof_admin/www/html/node_list.php"},
             {db_nodes, ['p02_db_disc_1@192.168.1.145'
                        ]},
	     %% {db_nodes, {'p02_db_disc_1@127.0.0.1'}},
             {node_type, disc},
             %% {node_type, remote},
             {default_mysql_pool_size, 1},
             {generate_dir, "src/data/"},
             {jobs, 2},
             {excel_path, "/home/li/p02_peizhi/"},
             {insert_db, true},
             %% 配置mysql参数
             {default_mysql_user, "root"}, 
	     {default_mysql_password, "root"},
	     {default_mysql_port, 3306},
	     {default_mysql_host, "127.0.0.1"},
             {default_mysql_pool_size, 1},
             {default_db_base, "p02_base"},
             {server_state, work},

	     {server_sn_db,[%% {1, 1},    %%表示N服的数据写到M服去
                            %% {2, 2},
                            {5, 5},
                            {6, 6}
                           ]},
	     {dirty_words_file, "/home/li/server_p02/config/dirty_words.txt"},
             {sina_appkey, "2335387058"}, %% 游戏的key
             {sina_appsecret, "d2e1762986b8a9a0be55e689dcef8370"}, 
             {sina_signature, "827ea7055b691c5df1ab226694612234"}, %% 签名串
             {sina_address, "http://m.game.weibo.cn/api/sdk/user/check.json"},
             %% {sina_address, "http://m.game.weibo.cn/oauth2/default"},
             {boss_double_drop, [{{12, 00}, {13, 00}}, {{18, 00}, {19, 00}}]} %%boss 双倍掉落时间
          ]
 },
 {g17,  [{config,
          [
           {address, "http://www.17g.com/"},
           {game_id, 4},
           {server_id,1},
           {money_key, "ee1f61891ecf146b883cb5a52aa0eae8"},
           {simple_key, "9a72b2dd1f14da15d88c915ed4c4e8a8"},
           {app_key, "0f94fcfdbb9f40f5d7585d673130a943"},
           {app_secret, "06a654c8e2b0a9b9507e4e9d3dbd5f3f"},
           {httpd_port, 18880}
          ]
         }
        ]
 },
 {jpush, [{config,
           [
            {push_url, "https://api.jpush.cn/v3/push"},
            {app_key, "60bae9b4ad50431afc62bcd3"},
            {password, "ae643975d963530b467cbf76"}]
          }
         ]
 }
].  
%% 代天麒(代天麒) 07-02 18:13:35
%% app Key：2335387058
%% App Secret：d2e1762986b8a9a0be55e689dcef8370
%% redirectURL：http://m.game.weibo.cn/oauth2/default
%% signature key：827ea7055b691c5df1ab226694612234
%% 代天麒(代天麒) 07-02 18:13:54
%% 最后一个
%% signature key：827ea7055b691c5df1ab226694612234 
%% 是服务端用户校验时用的
%% 代天麒(代天麒) 07-02 18:13:57
